<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Mageget\TestApi\Api\TestApiManagementInterface" type="Mageget\TestApi\Model\Api\TestApiManagement" />
    <preference for="Mageget\TestApi\Api\Data\TestApiInterface" type="Mageget\TestApi\Model\TestApi" />
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
		  <plugin name="order_custom_attribute" type="Mageget\TestApi\Plugin\Model\Order\AddCustomOrderAttribute" />
     </type>		
</config>
